* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #222222;
}
header {
    height: 100px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.title {
    font-family: 'Orbitron', sans-serif;
    color: #F0EFEC;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
}
.calculator {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 378px;
    height: 685px;
    border: 2px outset #D1C5AD;
    background-color: #D1C5AD;
    border-radius: 10px;
    box-shadow: 5px 14px #363430;
}
.calculator-ui {
    height: 570px;
    background-color: #4B4848;
    border: 2px solid #363430;
    margin: 100px 10px 10px 10px;
}
.calculator-display {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 75px;
    background-color: #6F2421;
    border: 2px solid #6F2421;
}
.display-history {
    display: flex;
    align-items: center;
    height: 30px;
    border: 0px solid green;
    font-size: 20px;
    font-weight: 700;
    color: #F0EFEC;
    padding: 10px;
    font-family: 'Orbitron', sans-serif;
}
.display-current {
    display: flex;
    align-items: center;
    height: 40px;
    border: 0px solid green;
    font-size: 36px;
    font-weight: 700;
    color: #F0EFEC;
    padding: 10px;
    font-family: 'Orbitron', sans-serif;
}
.calculator-label {
    display: flex;
    justify-content: space-between;
    height: 60px;
    border-top: 20px solid #363430;
    border-bottom: 0;
    padding: 15px;
    font-size: 22px;
    color: #F0EFEC;
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
}

.keypad {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
}
.btn {
    color: #363430;
    width: 75px;
    height: 75px;
    margin: 5px;
    border: 2px outset #D1C5AD;
    border-radius: 5px;
    background-color: #D1C5AD;
    font-size: 22px;
    font-family: 'Rubik', sans-serif;
}
.btn:hover {
    color: #4B4848;
    background-color: bisque;
    cursor: pointer;
    transform: scale(1.025);
}
#equals {
    width: 160px;
    height: 75px;
    background-color: #FE8033;
}
#equals:hover {
    background-color: orange;
}
footer, footer a {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-family: 'Orbitron', sans-serif;
    color: #F0EFEC;
}
#github {
    padding: 10px;
}
#github:hover {
    transform: scale(1.1);
}