* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header {
    height: 100px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
}
.calculator {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 378px;
    height: 685px;
    border: 2px outset antiquewhite;
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 5px 14px black;
}
.calculator-ui {
    height: 570px;
    background-color: grey;
    border: 2px inset grey;
    margin: 100px 10px 10px 10px;
}
.calculator-display {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 75px;
    background-color: red;
    border: 2px inset red;
}
.display-equation {
    display: flex;
    align-items: center;
    height: 30px;
    border: 1px solid green;
}
.display-result {
    display: flex;
    align-items: center;
    height: 40px;
    border: 1px solid green;
    font-size: 32px;
    font-weight: 700;
    color: silver;
    padding: 5px;
}
.calculator-label {
    display: flex;
    justify-content: space-between;
    height: 60px;
    border-top: 20px inset grey;
    border-bottom: 5px inset grey;
    padding: 15px;
    font-size: 20px;
    color: silver;
    font-weight: 700;
}
.keypad {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
}
.btn {
    color: black;
    width: 75px;
    height: 75px;
    margin: 5px;
    border: 2px outset antiquewhite;
    background-color: antiquewhite;
    font-size: 18px;
}
#equals {
    width: 160px;
    height: 75px;
    background-color: orange;
}
footer {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
#github {
    padding: 10px;
}